<div class="w-full">
  <div dataLarge class="border border-gray-900">
    <h2 class=" mb-2 pl-2 pt-2">
      Committees
    </h2>

  </div>

  <!-- both boxes are merge here -->

  <div dataLarge class="grid grid-cols-4 h-full w-full">
    <div class="border border-gray-900 border-r-0 col-span-0.5" style="width: 100%;">
      <div class="border border-gray-900">
        <h2 class=" mb-2 pl-2 pt-2 text-center">
          Committees
        </h2>
      </div>
      <div class="border border-gray-900">

        <div class=" mb-[2.5%] mt-[2.5%] ml-[4%] mr-[4%]">
          <input class=" text-center w-[100%]  rounded-md" matinput placeholder="Enter Committee Name "
            [(ngModel)]="searchTerm" (keyup.enter)="search()" />

        </div>
        <div>
          <div *ngFor="let item of filteredItems">
            <h2 class=" mb-2 pl-2 pt-2">{{ item }}</h2>
          </div>
        </div>



      </div>
      <div class="" [hidden]="isprinted" class="[]">
        <div dataRegular>
          <button  class=" text-blue-400  px-4 rounded-lg py-2  ">
            Finance and Planning Committee
          </button>
        </div>
        <div dataRegular>
          <button  class=" text-blue-400  px-4 rounded-lg py-2  ">
            Purchase Committee
          </button>
        </div>
        <div dataRegular>
          <button  class=" text-blue-400  px-4 rounded-lg py-2  ">
            Academic Committee
          </button>
        </div>
        <div dataRegular>
          <button  class=" text-blue-400  px-4 rounded-lg py-2  ">
            SyndicateCommittee
          </button>
        </div>
        <div dataRegular>
          <button  class=" text-blue-400  px-4 rounded-lg py-2  ">
             Board of Studies Committee
          </button>
        </div>
        <div dataRegular>
          <button  class=" text-blue-400  px-4 rounded-lg py-2  ">
            Discipline Committee
          </button>
        </div>
        

      </div>


    </div>

    <!-- box2 -->
    <div class="border border-gray-900 col-span-3" style="width: 100%;">
      <div class="border border-gray-900 ">
        
        <div class="flex">
          <div>
          <div>
            <h2 class=" pl-2 pt-2  ">
              Finance and Planning Committee
            </h2>
          </div>
          <div  class="flex mb-2">
          <div>
            <h2 class=" mt-2 ml-2">
              Secretery: &nbsp;
            </h2>
          </div>
          <div>
            <h2 class=" mt-2">
              Dr Muhammad Tufail
            </h2>
          </div>
          
          </div>
        </div>
          <div class=" flex place-items-center justify-end w-[715px]">
            <button buttonRegular routerLink='/dashboard/committee-constitution/approve-view-committees'>
              Show Details
            </button>
          </div>
        </div>


      </div>
      <div class="border border-gray-900">
        <div class="border border-gray-900">
          <div class="flex">
            <div class="flex place-items-center">
              <h2 class=" ml-2">
                Meeting: &nbsp;
              </h2>
              <h2 class="" labelLarge>
                Tue &nbsp; 25 &nbsp;2023 &nbsp; (most recent)
              </h2>
            </div>
            

            
             
            
            <div class="ml-12 flex place-items-center" labelLarge>
              <button labelLarge
                class=" text-blue-400   ">
                Previous
              </button>
            </div>
            <div class="ml-12 flex place-items-center" labelLarge >
              <button labelLarge
                class=" self-center text-blue-400  ">
                Next
              </button>
            </div>
            <div class=" flex justify-end place-items-center w-[500px]">
            <div class=" flex justify-between mr-6 mb-2 mt-2">
              <button buttonRegular routerLink='/dashboard/committee-constitution/scheduled-meeting'
              class="">
              New Meeting
              </button>
            </div>
            <div class=" flex justify-end  mb-2 mt-2">
              <button buttonRegular routerLink='/dashboard/committee-constitution/record-minutes-task'
              class="">
                New Minutes
              </button>
            </div>
          </div>
            <div
              class="fixed top-0 left-0 w-screen h-screen bg-black bg-opacity-50 flex justify-center items-center z-50"
              [class.hidden]="isPopupHidden">
              <div class="bg-white rounded-lg p-4 ">
                <h2 class="text-sm font-bold text-center mb-8">Date of Meeting </h2>

                <div class="flex flex-row items-center justify-center">


                  <div class="flex flex-col items-center justify-center mr-8">
                    <div class="text-sm font-bold mb-4 ">April 2023</div>

                    <div class="grid grid-cols-7 gap-2">


                      <!-- Calendar days -->
                      <div class="text-center">1</div>
                      <div class="text-center">2</div>
                      <div class="text-center bg-blue-500 text-white">3</div>
                      <div class="text-center">4</div>
                      <div class="text-center">5</div>
                      <div class="text-center  ">6</div>
                      <div class="text-center">7</div>
                      <div class="text-center">8</div>
                      <div class="text-center">9</div>
                      <div class="text-center">10</div>
                      <div class="text-center">11</div>
                      <div class="text-center">12</div>
                      <div class="text-center bg-blue-500 text-white">13</div>
                      <div class="text-center ">14</div>
                      <div class="text-center">15</div>
                      <div class="text-center bg-blue-500 text-white">16</div>
                      <div class="text-center">17</div>
                      <div class="text-center">18</div>
                      <div class="text-center">19</div>
                      <div class="text-center">20</div>
                      <div class="text-center">21</div>
                      <div class="text-center">22</div>
                      <div class="text-center">23</div>
                      <div class="text-center">24</div>
                      <div class="text-center">25</div>
                      <div class="text-center">26</div>
                      <div class="text-center">27</div>
                      <div class="text-center ">28</div>
                      <div class="text-center">29</div>
                      <div class="text-center">30</div>
                      <div class="text-center">31</div>
                      <!-- ... -->
                      <!-- Add more calendar days here -->
                    </div>
                  </div>
                  <div class="flex flex-col items-center justify-center">
                    <div class="text-sm font-bold mb-4">May 2023</div>

                    <div class="grid grid-cols-7 gap-2">


                      <!-- Calendar days -->
                      <div class="text-center">1</div>
                      <div class="text-center">2</div>
                      <div class="text-center">3</div>
                      <div class="text-center">4</div>
                      <div class="text-center">5</div>
                      <div class="text-center bg-blue-500 text-white ">6</div>
                      <div class="text-center">7</div>
                      <div class="text-center">8</div>
                      <div class="text-center bg-blue-500 text-white">9</div>
                      <div class="text-center">10</div>
                      <div class="text-center">11</div>
                      <div class="text-center">12</div>
                      <div class="text-center">13</div>
                      <div class="text-center ">14</div>
                      <div class="text-center">15</div>
                      <div class="text-center">16</div>
                      <div class="text-center">17</div>
                      <div class="text-center">18</div>
                      <div class="text-center">19</div>
                      <div class="text-center">20</div>
                      <div class="text-center">21</div>
                      <div class="text-center">22</div>
                      <div class="text-center">23</div>
                      <div class="text-center">24</div>
                      <div class="text-center">25</div>
                      <div class="text-center">26</div>
                      <div class="text-center">27</div>
                      <div class="text-center bg-blue-500 text-white">28</div>
                      <div class="text-center">29</div>
                      <div class="text-center">30</div>
                      <div class="text-center">31</div>
                      <!-- ... -->
                      <!-- Add more calendar days here -->
                    </div>
                  </div>



                </div>
                <button buttonSmall (click)="togglePopup()"
                  class="border-blue-400 border text-blue-400 px-4 rounded-lg py-2 ml-[45%] mt-8 ">Close</button>
              </div>
            </div>



          </div>


        </div>
      </div>
      <div class="border border-gray-900">
        <div class="border border-gray-900 ">
          <div class="mt-1.5">
            <label _ngcontent-eff-c52="" for="" highlightedlabelLarge
            > Participants</label>
          </div>
          <div class=" ">
            <div class=" mt-4 mb-4">
              <div class="inline-flex items-center bg-gray-200 rounded-full px-3 py-1 m-1">
                Dr. Muhammad Sharif (Secretory)
              </div>
              <div class="inline-flex items-center bg-gray-200 rounded-full px-3 py-1 m-1">
                Dr. Altaf Bokhari (Convenor)
              </div>
              <div class="inline-flex items-center bg-gray-200 rounded-full px-3 py-1 m-1">
                Dr. Shaukat Mehmood (Member)
              </div>
              <div class="inline-flex items-center bg-gray-200 rounded-full px-3 py-1 m-1">
                Dr. Ebadullah Hassan khan (Member)
              </div>
              <div class="inline-flex items-center bg-gray-200 rounded-full px-3 py-1 m-1">
                Dr. Tayyab Sharif (Member)
              </div>
              <div class="inline-flex items-center bg-gray-200 rounded-full px-3 py-1 m-1">
                Dr. Husnain (Member)
              </div>
              <!-- Add more user chips here -->
            </div>
          </div>
        </div>
        <div class="border border-gray-900">
          <div class="mt-1.5">
            <label _ngcontent-eff-c52="" for=""  highlightedlabelLarge >MInutes and Tasks</label>
          </div>

          <div class=" mt-6 ml-4 mb-6">
            <label for="Agends">Show: &nbsp; </label>

            <select name="Agends" id="Agends" class="border border-gray-900 rounded-md">
              <option value="Agenda1">Agendawise Minutes and Tasks</option>
              <option value="Agenda2">All Minutes and Tasks</option>
              <option value="Agenda3">Allocate Minutes</option>
              <option value="Agenda4">All Tasks</option>
            </select>
          </div>
        </div>
      </div>
      <div class="border border-gray-900">
        <div class="flex">
          <div class="mt-1.5 mb-2">
            <label _ngcontent-eff-c52="" for="" highlightedlabelLarge> Agenda # 1</label>
          </div>
          <div class=" mt-2 ml-4">
            <h2>Approve salery increase for everyone</h2>
          </div>
        </div>
        <div class="border border-gray-900">
          <div class=" mt-2">
            <h2 class="ml-4 ">
              1 : &nbsp; A 5% increase was approved for grades less than 16 and 7% increase for grades 17 and above

            </h2>
            <h2 class="ml-4 mt-2">
              2 : &nbsp; Task: Process pay increase for july 2023 pay period
              <h2 class="ml-[7%] mt-2">Assigned to: &nbsp; Abid Shahzad</h2>
              <h2 class="ml-[7%] ">Due date: &nbsp; Aug 1,2023</h2>

            </h2>
          </div>
        </div>
      </div>
      <div class="border border-gray-900">
        <div class="flex">
          <div class="mt-1.5 mb-2">
            <label _ngcontent-eff-c52="" for="" highlightedlabelLarge > Agenda # 2</label>
          </div>
          <div class=" mt-2  ml-4">
            <h2>Allocate Rs. 500,000 for the epurpose of upgrading banches</h2>
          </div>

        </div>
        <div class="border border-gray-900">
          <div class=" mt-2">
            <h2 class="ml-4 ">
              1 : &nbsp; Only Rs. 400,000 was approved

            </h2>
          </div>

        </div>
      </div>

    </div>




  </div>