<div class="">
  <div class="border border-gray-900">
      <h2 dataLarge class=" mb-2 pl-2 pt-2">
          Committe name &rarr; Approved Meeting
      </h2>
  </div>
  <div class="ml-[50%] flex justify-end mr-[10%] pt-4">
    <button buttonRegular
        class="border-blue-400 border text-blue-400 px-4 rounded-lg py-2 ">
          Edit
    </button>
</div>
  <div dataRegular class=" mr-[25%] ml-[10%] text-right">
      <div  class=" border-l-gray-700 mr-[23%]">
          
        <div class=" block mb-2 " type="date">
              Date <input inputRegular class=" mb-2  pt-2 ml-3  py-2"
                  type="date" />

          </div>
      
      
          <div class="block mb-2  pt-2 ml-24" type="Time">
              Time <input  inputRegular class=" mb-2 pt-2 ml-3  py-2"
                  type="time" />

          </div>
        </div>
      
      <div dataRegular class="text-left ml-[37%]">
          <div class="felx mb-2">
              <span > Secretary: &nbsp; Tayyab Sharif</span>
          </div>
          <div class="mb-2">
              <span class=" "> Convenor: &nbsp; Ahsan Munir</span>
          </div>
          <div class="mb-2 flex flex-wrap items-center">
              <span  class=" "> Members:</span>
              <div class="ml-2">
                  <div class="inline-flex items-center bg-gray-200 rounded-full px-3 py-1 m-1">
                    Dr. Husnain
                  </div>
                  <div class="inline-flex items-center bg-gray-200 rounded-full px-3 py-1 m-1">
                    Dr. Ahsan
                  </div>
                  <div class="inline-flex items-center bg-gray-200 rounded-full px-3 py-1 m-1">
                    Dr. Tayyab
                  </div>
                  <!-- Add more user chips here -->
                </div>
          </div>
          <div dataRegular class="mb-2 flex flex-wrap items-center">
            <span class=" ml-5"> Guests:</span>
            <div class="ml-2">
                <div class="inline-flex items-center bg-gray-200 rounded-full px-3 py-1 m-1">
                  Husnain
                </div>
                <div class="inline-flex items-center bg-gray-200 rounded-full px-3 py-1 m-1">
                  Ahsan
                </div>
                <div class="inline-flex items-center bg-gray-200 rounded-full px-3 py-1 m-1">
                  Tayyab
                </div>
                <!-- Add more user chips here -->
              </div>
        </div>
      </div>
      <div class="mt-16">
          <div dataRegular class=" mr-[56%] ">
              <span >Agenda</span>
          </div>
          <div class="ml-60">
              <div>
                  <div class="ml-[50%]">
                      <button (click)="toggleTextBox()" [hidden]="isToggleButtonDisabled"
                          class="border-blue-400 border text-blue-400 px-4 rounded-lg py-2 ">
                          Add Item
                      </button>
                  </div>
                  <div>
                      <div class="mt-4">
                          <ol type="1" class="text-lg text-right mr-[50%]">
                              <li *ngFor="let name of names; index as i" class="mb-2">{{ i + 1 }}. {{ name }}</li>
                          </ol>
                      </div>

                      <div *ngIf="isTextBoxVisible" class="mt-4">
                          <textarea [(ngModel)]="nameInput"
                              class="text-lg border border-gray-300 rounded p-2"></textarea>
                          <button (click)="addName()"
                              buttonRegular>
                              Add Item
                          </button>
                      </div>
                  </div>

              </div>


          </div>

      </div>
  </div>

  <div class="">
    <div class="button-container flex justify-center">
      <button
        routerLink="/dashboard/committee-constitution/record-minutes-task"
        buttonLarge
      >
       Record Minutes Task
      </button>
    </div>
  </div>


</div>