<!-- app.component.html -->

<nav class="bg-[#00A884] p-4 shadow-md mb-4">
    <div class="container mx-auto flex justify-between items-center">
        <a class="text-white font-bold text-lg md:text-xl" href="#">WhatsApp Market Tool</a>
        <ul class="flex space-x-4">
            <li><a class="text-white hover:text-gray-200" routerLink="/dashboard">Dashboard</a></li>
            <li><a class="text-white hover:text-gray-200" routerLink="/dashboard">Dashboard</a></li>
            <li><a class="text-white hover:text-gray-200" routerLink="/dashboard">Dashboard</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>