<div class="selected-summary flex flex-col">
    <div class="selection-display-group basis-10 flex items-center gap-x-0.5 mb-1.5">
        <label class="font-mono font-semibold text-base">Selected Collections: </label>
        <mat-chip-listbox #selected_chips>
            <mat-chip *ngFor="let collection of collections; trackBy:collectionById" [@inOutAnimation]>
                <span class="flex justify-center items-center">
                    <span class="p-0 text-xs">{{collection.name}}</span>
                    <button matChipRemove (click)="remove(collection)">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </span>
            </mat-chip>
            <mat-chip>
                <span class="flex justify-center items-center" (click)="add()">
                    <span class="p-0 text-xs">Add</span>
                    <button matChipRemove (click)="add()">
                        <mat-icon>add</mat-icon>
                    </button>
                </span>
            </mat-chip>
        </mat-chip-listbox>
    </div>
</div>
<button appButtonPrimary (click)="onSend()" [disabled]="collections.length===0 || text.trim()===''"
    [matTooltip]="collections.length===0?'Select at least 1 collection': ''">Send</button>