<div class="flex justify-between items-center content-center mb-4">
    <div class="flex gap-4 items-center justify-center">
        <h2 class="text-3xl font-extrabold">Ads</h2>
        <div class=" h-fit rounded-full bg-gray-300 flex justify-center items-center flex-shrink-0">
            <span class="text-sm text-center p-1.5 rounded-full leading-none">
                {{ads.length}}
            </span>
        </div>
    </div>

    <span matTooltip="Create new Ad" class="flex text-3xl rounded-full hover:bg-zinc-200" routerLink="/post-ad">
        <svg xmlns="http://www.w3.org/2000/svg" height="1.5rem" viewBox="0 0 448 512">
            <path
                d="M64 80c-8.8 0-16 7.2-16 16V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V96c0-8.8-7.2-16-16-16H64zM0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM200 344V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" />
        </svg>
    </span>
</div>


<div *ngIf="ads.length>=0 && !isLoading">
    <div class="flex gap-2 mb-4 border border-black rounded p-2" *ngFor="let ad of ads;trackBy: adById"
        [@inOutAnimation]>
        <div class="self-center basis-[150px] h-auto bg-neutral-100 rounded border border-slate-400">
            <img class="w-full h-full"
                [src]="apiUrl+'/images/'+(ad.imageId!==null?ad.imageId:'default')+'?isSquare=true'">
        </div>
        <div class="w-full flex flex-col justify-between">
            <div>
                <div class="flex justify-between">
                    <span class="font-semibold">{{cleanWhatsappText(ad.adText) | summary:50}}</span>
                    <div [ngSwitch]="ad.state">
                        <!-- PENDING state -->
                        <ng-container *ngSwitchCase="'PENDING'">
                            <div>
                                <span>{{ ad.groups.length - (ad.pendingGroups ? ad.pendingGroups.length : 0) }} / {{
                                    ad.groups.length }} </span>
                                <span class="inline-block rounded-full w-2 h-2 bg-green"></span>
                            </div>
                        </ng-container>

                        <!-- SUCCESS state -->
                        <ng-container *ngSwitchCase="'SUCCESS'">
                            <span [matTooltip]="'Delete Ad'" class="text-xs rounded-full hover:bg-zinc-200"
                                (click)="remove(ad)">
                                <mat-icon>
                                    delete_outline
                                </mat-icon>
                            </span>
                        </ng-container>

                        <!-- FAILED state -->
                        <ng-container *ngSwitchCase="'FAILED'">
                            <span [matTooltip]="'Retry Ad'" class="text-xs rounded-full hover:bg-zinc-200"
                                (click)="retry(ad)">
                                <mat-icon>
                                    refresh
                                </mat-icon>
                            </span>
                        </ng-container>
                    </div>

                </div>
                <div>
                    <span>
                        <span>{{ad.state==='PENDING'?'Posting':'Posted'}} in </span>
                        <span class="bg-slate-300 px-0.5 rounded">{{ad.groups.length}}</span>
                        <span> group{{ad.groups.length>1?'s':''}} </span>
                    </span>
                    <mat-icon class="scale-75 cursor-pointer" [routerLink]="'/ads/'+ad.id">open_in_new</mat-icon>
                </div>
            </div>

            <p class="text-sm font-mono font-thin text-slate-400">{{ad.postedAt | epochToDate}}</p>

        </div>
    </div>
</div>

<div *ngIf="ads.length<=0 && isLoading" class="mt-4 flex justify-center items-center">
    <mat-spinner></mat-spinner>
</div>