<div class="inline-flex items-center gap-1" [ngClass]="{'flex-row-reverse':labelPosition==='back'}">
    <div>
        <input type="checkbox" class="opacity-0 absolute h-6 w-6" [(ngModel)]="isChecked"
            (ngModelChange)="onSelectChange()" />
        <div class="bg-transparent border-2 rounded-md border-black w-6 h-6 flex flex-shrink-0 justify-center items-center mr-2 focus-within:border-black-500 [&.checked]:bg-green transition-all duration-200 ease-in"
            [ngClass]="{'checked':isChecked}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="24" height="24"
                *ngIf="isChecked">
                <path d="M0 0h24v24H0z" fill="none" />
                <path
                    d="M9 16.17L5.53 12.7a.996.996 0 1 1 1.41-1.41L9 13.17l7.88-7.88a.996.996 0 1 1 1.41 1.41L9 16.17z" />
            </svg>

        </div>
    </div>
    <label *ngIf="label && label.length>0" class="select-none">{{label}}</label>
</div>