<div class="flex items-start justify-between p-4 border-b rounded-t ">
    <h3 class="text-xl font-semibold text-gray-900">
        Select Groups
    </h3>
    <button type="button" mat-dialog-close=""
        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
        data-modal-hide="defaultModal">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
        </svg>
        <span class="sr-only">Close modal</span>
    </button>
</div>

<div class="p-6 h-[450px] max-h-[450px] overflow-y-scroll scrollbar-thin  scrollbar-thumb-black">
    <app-input label="Filter by Group Name" [(value)]="nameFilter" (valueChange)="filter()" [fieldSize]="'regular'"
        placeholder="e.g., Buy and Sell Group" class="mb-2"></app-input>
    <app-table *ngIf="groups.length>0" [autoWidth]="false" [dataSource]="filteredGroups"
        [dataHeadersDef]="groupsHeaderDef" [columnLines]="true" headColor="grey">
        <!-- Custom Heads -->
        <ng-template appTableCustomHead="select">
            <div class="p-2">
                <app-checkbox (valueChange)="toggleAllStaffRows()" [value]="isAllSelected()">
                </app-checkbox>
            </div>
        </ng-template>

        <ng-template appTableCustomColumn="select" let-item>
            <div class="p-2">
                <app-checkbox (click)="$event.stopPropagation()" (valueChange)="$event ? selections.toggle(item) : null"
                    [value]="selections.isSelected(item) ">
                </app-checkbox>
            </div>
        </ng-template>

        <ng-template appTableCustomColumn="participants" let-item>
            <div *ngIf="item && item.length &&
                    item.length>0;else noParticipants">
                <span>
                    {{ item.length }}
                </span>
                <span *ngIf="item.length > 0" class="ml-2 text-blue-400 cursor-pointer" [matTooltip]="item.join(', ')">
                    see list
                </span>
            </div>
            <ng-template #noParticipants>
                <div class="text-center">0</div>
            </ng-template>
        </ng-template>


    </app-table>
    <div *ngIf="groups.length<=0 && isLoading" class="mt-4 flex justify-center items-center">
        <mat-spinner></mat-spinner>
    </div>
</div>


<div class="flex justify-end items-center p-3 space-x-2 border-t border-gray-200 rounded-b ">
    <button appButtonPrimary [mat-dialog-close]="selections.selected">Done</button>
</div>