<h2 class="text-3xl font-extrabold mb-4">Post Ad listing</h2>
<div class="listing my-2">
    <div class="listing-type">
        <app-select [options]="listingOpts" [(selected)]="listingType"
            (selectedChange)="productsChanged()"></app-select>
    </div>
    <div class="flex justify-between items-center content-center my-2">
        <div class="flex gap-4 items-center justify-center">
            <h3 class="text-xl font-semibold">Products</h3>
            <div class="h-fit rounded-full bg-gray-300 flex justify-center items-center flex-shrink-0">
                <span class="text-xs text-center p-1 rounded-full leading-none self-center">
                    {{products.length}}
                </span>
            </div>
        </div>

        <span matTooltip="Add new product" class="flex text-3xl rounded-full hover:bg-zinc-200"
            (click)="addNewProduct()">
            <svg xmlns="http://www.w3.org/2000/svg" height="1.5rem" viewBox="0 0 448 512">
                <path
                    d="M64 80c-8.8 0-16 7.2-16 16V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V96c0-8.8-7.2-16-16-16H64zM0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM200 344V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" />
            </svg>
        </span>
    </div>

    <div>
        <div class="flex gap-1 items-center" *ngFor="let product of products; trackBy: productById" [@inOutAnimation]>
            <app-input class="basis-[40%]" placeholder="Product Name" [(value)]="product.name"
                (valueChange)="productsChanged()"></app-input>
            <app-input class="basis-[15%]" placeholder="Price" type="number" [(value)]="product.price"
                (valueChange)="productsChanged()"></app-input>
            <app-input class="basis-[15%]" placeholder="Quantity" type="number" [(value)]="product.quantity"
                (valueChange)="productsChanged()"></app-input>
            <app-input class="basis-[15%] md:basis-[40%]" placeholder="Additional Information"
                [(value)]="product.additional_info" (valueChange)="productsChanged()"></app-input>
            <button class="self-center justify-self-center" appButtonWarn
                (click)="removeProduct(product);productsChanged()">X</button>
        </div>
    </div>

    <textarea [(ngModel)]="listingDetails" id="message" rows="5"
        class="resize-none block p-2.5 w-full text-gray-900 text-base bg-gray-50 rounded-lg border border-gray-600 focus:ring-blue-500 focus:border-blue-500 scrollbar-thin scrollbar-thumb-black scrollbar-track-slate-400 placeholder:text-gray-900"
        placeholder="Enter other details like shipment from or contact info." (ngModelChange)="productsChanged()">
    </textarea>
</div>


<div class="w-full my-1">
    <div class="my-1">
        <h4 class="text-xl font-semibold my-1">Ad Image</h4>
        <app-image-upload [(imageBuffer)]="imageBuffer"></app-image-upload>
    </div>
    <h3 class="text-xl font-semibold my-1">Ad body</h3>
    <app-whatsapp-composer [(text)]="text"></app-whatsapp-composer>
</div>

<app-send-to-group-collections [text]="text" (onRequestSent)="sendToGroupCollectionsRequestSent($event)"
    [image]="imageBuffer"></app-send-to-group-collections>