<div class="container">
  <div class="row">
    <div class="box">
      <div class="content">
        <div class="col-lg-12">
          <h1>Document Validation</h1>
        </div>

        <h3>What you want to perform?</h3>

        <button
          style="display: inline !important; margin: 2rem !important"
          class="btn"
          routerLink="/dashboard/digital-signature/sign"
        >
          Sign a Document
        </button>

        <a routerLink="/dashboard/digital-signature/verify">
          <button
            style="display: inline !important; margin: 2rem !important"
            class="btn"
          >
            Verify a Document
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
