<div class="p-2">
    <div class="flex justify-between items-center content-center mb-4">
        <div class="flex gap-4 items-center justify-center">
            <h2 class="text-xl font-semibold">Groups</h2>
            <div class=" h-fit rounded-full bg-gray-300 flex justify-center items-center flex-shrink-0">
                <span class="text-xs text-center p-1.5 rounded-full leading-none">
                    {{groups.length}}
                </span>
            </div>
        </div>

        <span matTooltip="Add a group in collection." class="flex text-3xl rounded-full hover:bg-zinc-200"
            (click)="addGroupToCollection()">
            <svg xmlns="http://www.w3.org/2000/svg" height="1.5rem" viewBox="0 0 448 512">
                <path
                    d="M64 80c-8.8 0-16 7.2-16 16V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V96c0-8.8-7.2-16-16-16H64zM0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM200 344V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" />
            </svg>
        </span>
    </div>

    <div>
        <app-table *ngIf="groups.length>0" [autoWidth]="false" [dataSource]="groups" [dataHeadersDef]="groupsHeaderDef"
            [columnLines]="true" headColor="grey">
            <ng-template appTableCustomColumn="participants" let-item>
                <div *ngIf="item && item.length &&
                        item.length>0;else noParticipants">
                    <span>
                        {{ item.length }}
                    </span>
                    <span *ngIf="item.length > 0" class="ml-2 text-blue-400 cursor-pointer"
                        [matTooltip]="item.join(', ')">
                        see list
                    </span>
                </div>
                <ng-template #noParticipants>
                    <div class="text-center">0</div>
                </ng-template>
            </ng-template>
            <ng-template appTableCustomColumn="delete" let-item>
                <div class="flex justify-center">
                    <button appButtonWarn (click)="deleteGroupFromCollection(item.id)">Delete</button>
                </div>
            </ng-template>
        </app-table>
        <div *ngIf="groups.length<=0 && isGroupsLoading" class="mt-4 flex justify-center items-center">
            <mat-spinner></mat-spinner>
        </div>
    </div>
</div>