<div
  class="w-[100%] min-h-[100%] h-[100%] bg-gray-100 flex items-start justify-around overflow-y-auto "
>
  <div
    class="w-[100%] min-h-[100%] h-[100%] bg-[#fff] px-6 py-8 rounded-lg shadow-lg"
  >
    <div class="flex justify-start border-b border-[#000]">
      <span
        class="block text-start py-t-2 text-[20px] tracking-wider tracking-[2px]"
      >
        Student Clearance Process
      </span>
    </div>
    <div
      class="w-[100%] h-[calc(100%-50px)] mt-[30px] flex flex-row border rounded"
    >
      <!-- right section -->
      <div class="w-[30%] tracking-wider bg-gray-100">
        <!-- current department section -->
        <div class="w-[100%] h-[60%] flex flex-col">
          <div class="px-3 h-[100%]">
            <div
              class="border-b border-gray-400 flex items-center justify-center flex-col py-2"
            >
              <h4 class="text-center font-semibold text-[16px]">
                Department of History
              </h4>
              <span class="text-[12px] text-gray-700">Remaining: 38 Students</span>
            </div>
            <!-- students list -->
            <div class="py-2 h-[calc(100%-50px)] overflow-y-auto">
              <ul>
                <!-- student list single li -->
                <li
                  class="px-2 rounded py-1 flex border-b cursor-pointer hover:bg-[#fff] transition-all duration-300 ease"
                >
                  <span class="w-[50%]">0353-BSCS-20</span>
                  <span class="w-[50%]">Farrukh Ali</span>
                </li>
                <!-- end item -->
                <li
                  class="px-2 rounded py-1 flex border-b cursor-pointer hover:bg-[#fff] transition-all duration-300 ease"
                >
                  <span class="w-[50%]">0353-BSCS-20</span>
                  <span class="w-[50%]">Talha Qaiser</span>
                </li>
                <li
                  class="px-2 rounded py-1 flex border-b cursor-pointer hover:bg-[#fff] transition-all duration-300 ease"
                >
                  <span class="w-[50%]">0353-BSCS-20</span>
                  <span class="w-[50%]">Noman Jaffar</span>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- queued department section -->
        <div class="w-[100%] h-[40%] flex flex-col">
          <div class="px-3 h-[100%]">
            <div
              class="border-b border-gray-400 flex items-center justify-center flex-col py-2"
            >
              <h4 class="text-center font-semibold text-[16px]">
                Departments in Queue
              </h4>
            </div>
            <!-- department list -->
            <div class="py-2 w-[100%] h-[calc(100%-50px)] overflow-y-auto">
              <ul>
                <!-- department list sigle item -->
                <li
                  class="px-2 rounded py-1 flex border-b cursor-pointer hover:bg-[#fff] transition-all duration-300 ease"
                >
                  <span class="w-[80%]">History</span>
                  <span class="w-[20%] font-semibold">38</span>
                </li>
                <!-- end list item -->
                <li
                  class="px-2 rounded py-1 flex border-b cursor-pointer hover:bg-[#fff] transition-all duration-300 ease"
                >
                  <span class="w-[80%]">Computer Science</span>
                  <span class="w-[20%] font-semibold">18</span>
                </li>
                <li
                  class="px-2 rounded py-1 flex border-b cursor-pointer hover:bg-[#fff] transition-all duration-300 ease"
                >
                  <span class="w-[80%]">History</span>
                  <span class="w-[20%] font-semibold">18</span>
                </li>
                <li
                  class="px-2 rounded py-1 flex border-b cursor-pointer hover:bg-[#fff] transition-all duration-300 ease"
                >
                  <span class="w-[80%]">Economics</span>
                  <span class="w-[20%] font-semibold">18</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- left section -->
      <div class="w-[100%] p-2">
        <!-- student detail section -->
        <div class="w-[100%] p-4 text-[16px]">
          <!-- roll no -->
          <div class="w-[100%] flex">
            <h4 class="font-bold">Roll No:</h4>
            <h4 class="px-4 font-normal text-gray-600">0353-BSCS-20</h4>
          </div>
          <!-- name -->
          <div class="w-[100%] flex">
            <h4 class="font-bold">Name:</h4>
            <h4 class="px-4 font-normal text-gray-600">Hamid Ali</h4>
          </div>
          <!-- Department -->
          <div class="w-[100%] flex">
            <h4 class="font-bold">Department:</h4>
            <h4 class="px-4 font-normal text-gray-600">Computer Science</h4>
          </div>
          <!-- Semester  -->
          <div class="w-[100%] flex">
            <h4 class="font-bold">Semester:</h4>
            <h4 class="px-4 font-normal text-gray-600">8th</h4>
          </div>
          <div class="flex justify-end text-[14px] gap-2 pt-5">
            <h4
              class="font-semibold px-6 cursor-pointer py-2 hover:bg-gray-100 flex flex-col tracking-wider"
            >
              Treasure
              <span class="text-green-600 font-semibold text-[12px] tracking-normal text-center">Approved</span>
            </h4>
            <h4
              class="font-semibold px-6 cursor-pointer py-2 hover:bg-gray-100 flex flex-col tracking-wider"
            >
              Library
              <span class="text-green-600 font-semibold text-[12px] tracking-normal text-center">Approved</span>

            </h4>
            <h4
              class="font-semibold px-6 cursor-pointer py-2 hover:bg-gray-100 border-b-[2px] border-red-900 bg-gray-100 flex flex-col tracking-wider"
            >
              Hostel
              <span class="text-red-600 font-semibold text-[12px] tracking-normal text-center">Pending</span>

            </h4>
            <h4
              class="font-semibold px-6 cursor-pointer py-2 hover:bg-gray-100 flex flex-col tracking-wider"
            >
              Department
              <span class="text-red -600 font-semibold text-[12px] tracking-normal text-center">Pending</span>

            </h4>
          </div>
        </div>
        <!-- student clearacne section -->
        <div class="w-[100%] border-t p-4">
          <div class="flex items-center justify-start gap-12">
            <label for="granted" labelRegular>
              <input
                type="radio"
                id="granted"
                name="clearanceStatus"

              />
              Granted
            </label>
            <label for="notgranted" labelRegular>
              <input
                type="radio"
                id="notgranted"
                name="clearanceStatus"
                
              />
              Not Granted
            </label>
          </div>
          <!--  instruction related section -->
          <div class="w-[100%] flex pt-4">
            <div class="mr-10">
              <!-- reson and instruction input -->
              <label for="reason" labelRegular class="tracking-wider flex flex-col">
                Not Granted Reason & Instructin for Student:
                <textarea
                  name=""
                  id="reason"
                  cols="30"
                  rows="5"
                  inputLarge
                  class="w-[400px] resize-none text-[14px] tracking-wider"
                ></textarea>
              </label>
              <!-- fue fees input-->
              <label
                for="fee"
                labelRegular
                class=" mt-[10px] flex flex-col"
              >
                Enter Amount of Due Money
                <span labelRegular>(if applicable)</span>
                <input
                  type="number"
                  id="fee"
                  inputLarge
                  class="w-[400px]"
                />
              </label>
            </div>
            <div class="w-[50%]">
              <!-- reson and instruction input -->
              <label for="reason" labelRegular class="flex flex-col">
                Confidential Note 
                <span class=" text-gray-700">(Not shared with student)</span>
                <textarea
                  name=""
                  id="reason"
                  cols="30"
                  rows="8"
                  inputLarge
                  class="resize-none"
                  class="w-[400px]"
                ></textarea>
              </label>
            </div>

        </div>
        <!-- save clearance button -->
        <div class="flex justify-start pt-10">
            <button
            buttonRegular
              class=" py-2 px-6 "
            >
              Save & Go to Next Clearance
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
