<div class="border border-gray-500 rounded p-3 gap-3 flex flex-col justify-center items-center">
    <div class="flex flex-col justify-center items-center w-[300] sm:w-[500px] md:w-[600px] lg:w-[800px] xl:w-[1000px]"
        *ngIf="droppedImage">
        <div class="frame border border-gray-400 rounded p-2 w-full">
            <img class="w-full" [src]="droppedImage" alt="Dropped Image">
        </div>
    </div>


    <div class="w-[300px] sm:w-[500px] md:w-[600px] lg:w-[800px] xl:w-[1000px]"
        [ngClass]="{'h-[300px]': !droppedImage}">
        <div class="drop-area h-full w-full gap-1 flex flex-col justify-center items-center border border-dotted rounded border-gray-500"
            [ngClass]="{'border-dashed border-4 border-blue-500 bg-slate-300': isDragging, 'flex-col':!droppedImage}"
            (drop)="handleDrop($event)" (dragover)="allowDrop($event)" (dragleave)="handleDragLeave($event)"
            (click)="browseFiles()">
            <span>
                <svg width="40" height="40" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_102_677)">
                        <path d="M24.7976 24.737L18.7586 18.698L12.7196 24.737" stroke="black" stroke-opacity="0.4"
                            stroke-width="1.50974" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M18.7586 18.698V32.2857" stroke="black" stroke-opacity="0.4" stroke-width="1.50974"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M31.4253 28.3453C32.8978 27.5425 34.0611 26.2722 34.7314 24.7349C35.4018 23.1976 35.5412 21.4808 35.1275 19.8555C34.7138 18.2302 33.7707 16.789 32.4469 15.7593C31.1231 14.7295 29.4941 14.1699 27.817 14.1688H25.9148C25.4578 12.4013 24.6061 10.7603 23.4236 9.36935C22.2412 7.97836 20.7588 6.87353 19.0879 6.13792C17.417 5.40231 15.601 5.05506 13.7766 5.12228C11.9522 5.1895 10.1668 5.66944 8.55453 6.52601C6.94229 7.38259 5.54521 8.59351 4.46833 10.0677C3.39145 11.542 2.66278 13.2411 2.33712 15.0375C2.01145 16.8339 2.09726 18.6807 2.58809 20.4392C3.07892 22.1976 3.96199 23.8219 5.17093 25.1899"
                            stroke="black" stroke-opacity="0.4" stroke-width="1.50974" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M24.7976 24.737L18.7586 18.698L12.7196 24.737" stroke="black" stroke-opacity="0.4"
                            stroke-width="1.50974" stroke-linecap="round" stroke-linejoin="round" />
                    </g>
                    <defs>
                        <clipPath id="clip0_102_677">
                            <rect width="36.2338" height="36.2338" fill="white"
                                transform="translate(0.641724 0.581161)" />
                        </clipPath>
                    </defs>
                </svg>
            </span>
            <div class="flex flex-col justify-between mb-1">
                <span class="font-medium text-black">Select a file or Drag and Drop Here</span>
                <span class="font-thin text-gray-400">JPG, PNG, file size no more than 5MB</span>
            </div>
            <button appButtonPrimary (click)="browseFiles()" *ngIf="!droppedImage">Select Image</button>
        </div>
    </div>
</div>