<div class="flex justify-between items-center content-center mb-4">
    <div class="flex gap-4 items-center justify-center">
        <h2 class="text-3xl font-extrabold">Ad Listing</h2>
    </div>

    <span>
        <button *ngIf="ad.state!=='PENDING'" mat-icon-button [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="remove(ad)">
                <mat-icon>delete_outline</mat-icon>
                <span>Delete</span>
            </button>
            <button *ngIf="isAdFailed(ad)" mat-menu-item (click)="retry(ad)">
                <mat-icon>refresh</mat-icon>
                <span>Retry</span>
            </button>
        </mat-menu>

        <div *ngIf="ad.state==='PENDING'" class="w-6 h-6 flex justify-center items-center">
            <mat-spinner [diameter]="20"></mat-spinner>
        </div>
    </span>
</div>

<div *ngIf="ad.state==='PENDING'" class="my-4">
    <div>
        <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
    </div>
    <div>
        <p class="mt-1 font-mono text-gray-500">
            <span class="bg-slate-300 rounded px-1">{{getPendingGroups(ad).length}}</span> pending out of
            <span class="bg-slate-300 rounded px-1">{{ad.groups.length}}</span> groups - FAILED:
            <span class="bg-slate-300 rounded px-1">{{getFailedGroups(ad).length}}</span> and SUCCESS:
            <span class="bg-slate-300 rounded px-1">{{getSuccessGroups(ad).length}}</span>
        </p>
    </div>
</div>

<div class="my-1">
    <h4 class="text-xl font-semibold my-1">Ad Details</h4>
    <div class="flex justify-between items-center my-1">
        <div class="flex gap-2">
            <span class="text-gray-500">Ad ID:</span>
            <span class="text-gray-700">{{ad.id}}</span>
        </div>
        <div class="flex gap-2">
            <span class="text-gray-500">Posted At:</span>
            <span class="text-gray-700">{{ad.postedAt | epochToDate}}</span>
        </div>
    </div>
    <div class="flex gap-2">
        <span class="text-gray-500">State: </span>
        <span class=""
            [ngClass]="{'text-red-500': ad.state==='FAILED', 'text-green': ad.state==='SUCCESS', 'text-blue-400': ad.state==='PENDING'}">{{ad.state}}</span>
        <span *ngIf="ad.state==='FAILED'">
            in <span class="bg-slate-300 rounded px-1">{{getFailedGroups(ad).length}}</span> group(s)
        </span>
    </div>

    <div class="flex justify-center items-center flex-col sm:flex-row gap-2 my-1">
        <div *ngIf="ad.imageId"
            class="w-[300px] basis-[300px] shrink-0 h-auto bg-neutral-100 rounded border border-slate-400">
            <img [src]="apiUrl+'images/'+ad.imageId+'?isSquare=true'" class="w-full h-full">
        </div>
        <div class="h-[300px] w-full whitespace-pre-wrap overflow-y-auto border border-slate-400 rounded p-2 scrollbar-thin scrollbar-track-slate-300 scrollbar-thumb-black overflow-x-hidden"
            [innerHTML]="WaFormatToHtml(ad.adText)">
        </div>
    </div>
</div>


<app-table [dataSource]="getGroupsWithStatus(ad)" [dataHeadersDef]="adTableHeaders">
    <ng-template appTableCustomColumn="participants" let-item>
        <div *ngIf="item && item.length &&
                item.length>0;else noParticipants">
            <span>
                {{ item.length }}
            </span>
            <span *ngIf="item.length > 0" class="ml-2 text-blue-400 cursor-pointer" [matTooltip]="item.join(', ')">
                see list
            </span>
        </div>
        <ng-template #noParticipants>
            <div class="text-center">0</div>
        </ng-template>
    </ng-template>

    <ng-template appTableCustomColumn="status" let-item>
        <span
            [ngClass]="{'text-red-500': item==='FAILED', 'text-green': item==='SUCCESS', 'text-blue-400': item==='PENDING'}">
            {{item}}
        </span>
    </ng-template>
</app-table>